/* General Sidebar Container */
.main_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align everything to the top */
  background-color: #111; /* Dark background */
  color: #ffffff; /* Light text */
  width: 100%; /* Ensure it occupies the full width of its parent */
  height: 100%; /* Ensure it occupies the full height of its parent */
  padding: 1rem;
  box-sizing: border-box;
  border-right: 1px solid #333;
  gap: 1rem; /* Uniform spacing between major sections */
  position: relative; /* For placing profile section at the bottom */
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.2);
}

/* Logo Section */
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Reduced gap between logo and text */
}

#logo {
  width: 50px; /* Standard size for logo */
  height: 50px;
  border-radius: 50%;
  filter: invert(1);
}

.logo .text {
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffffff;
}

/* Section Titles (Menu and Pinned) */
.inline_text {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #888;
  margin-top: 1rem;
  margin-bottom: 0.5rem; /* Reduce spacing */
}

/* Menu and Pinned Sections */
.static_options,
.dynamic_options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* Tighten spacing between options */
}

.static_option,
.dynamic_option {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.static_option:hover,
.dynamic_option:hover {
  background-color: #333;
  color: #e3e8e8;
}

.icon_text {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Tight spacing between icon and text */
}

.icon {
  color: #ffffff;
  transition: color 0.3s ease;
}

.static_option:hover .icon,
.dynamic_option:hover .icon {
  color: #ee4fce;
}

.dynamic_option .MuiSvgIcon-root {
  font-size: 1rem; /* Adjust the size as needed */
  margin-right: 8px; /* Optional: Add some spacing between the icon and text */
  color: white; /* Keep consistent with the theme */
}
.dynamic_option:hover .MuiSvgIcon-root {
  color: #ee4fce; /* Keep consistent with the theme */
}

/* Profile Section */
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding-top: 1rem;
  border-top: 1px solid #333;
  position: absolute;
  bottom: 1rem; /* Place at the bottom of the sidebar */
  left: 1rem;
  right: 1rem;
}
.profile .profile-logout {
  border-radius: 50%;
  align-items: center;
  padding: 0.25rem;
}

.profile .profile-logout:hover {
  color: #ee4fce;
  transform: scale(1.1);
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

.profile .image img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.info p {
  margin: 0;
  color: #ffffff;
  font-size: 0.9rem;
}
.info:hover .userNameProfile {
  color: #ee4fce;
}

.info .userEmail {
  color: #888;
}
